.env
venv/
__pycache__/
*.pyc
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
keys/*.json
dbt/profiles.yml
dbt/target/
dbt/logs/
dbt/.user.yml
django_app/db.sqlite3
django_app/**/__pycache__/